body {
    font-family: 'Montserrat', sans-serif;
}

.base-block {
    /*пункты (pt) не используются в реальной вёрстке по моему никогда, используются px*/
    /*проценты встречаются крайне редко, верстают адаптивно, ссылку я дал в issues.txt*/
    margin-top: 20pt;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20pt;
    /*также можно было написать margin: 20px 20%; в твоём случае*/

    padding: 10pt;
    box-shadow: 0 0 10pt rgba(0,0,0,0.5);
}

/* Head block */

.data-head-block {
    margin: auto;
    display: flex;
    margin-bottom: 10pt;
}

.data-info-block {
    margin-left: 30pt;

    /*это лишнее, блок и так займёт 100% допустимого места по умолчанию*/
    width: max-content;
}

.title-main {
    font-size: 30pt;
    padding-bottom: 2pt;
    border-bottom: 2pt #31b19c solid;
    width: max-content;
    margin-bottom: 5pt;
}

.subtitle {
    margin: 0;
    font-size: 20pt;
}

.photo {
    height: 150pt;
    width: 150pt;
    margin: auto;
    margin-right: 30pt;
    display: flex;
}

/* Main table block */

.table-main {
    width: 100%;
    margin: auto;
    border: none;
    border-collapse: collapse;
}

.table-main tr {
    vertical-align: top;

    /*бордеры кратны пикселям, 1px, 2px и т.д. иначе это будет сильно по разному работать в разных браузерах и устройствах*/
    border-bottom: 0.01em solid #31b19c;
}

.table-main tr:last-child {
    border-bottom: none;
}

.table-main td {
    padding: 15pt;
    font-size: 15pt;
    margin-top: auto;
}

.table-main td:first-child {
    text-align: center;
    vertical-align: top;
    font-size: 17pt;
    font-weight: bold;
}

.table-main td:last-child {
    padding-left: 30pt;
}

.col-title {
    width: 30%;
}

.col-info {
    width: 70%;
}

/* Lists */

.list-head {
    list-style-type: none;
    font-size: 15pt;
    text-align: left;
    padding: 0;
}

.list-head li{
    margin-bottom: 3pt;
}

/*вижу копипасту с list-head, это плохая практика идентичная плохой практике копипастить программерский код, для этого можно использовать один класс
общих стилей и потом дополнительно навешивать отличающиеся классы, про это стоит прочитать в БЭМ

в кратце по твоему случаю было бы лучше

.list {
    list-style-type: none;
    font-size: 15px;

    text-align: left; -> эта строка лишняя и так работает по умолчанию
    padding: 0;
    margin: 0;
}

.list--marked {
    list-style-type: disc;
}

тогда в одном случае будет <ul class="list">...
а в другом будет <ul class="list list--marked">...

*/
.list-table-simple {
    list-style-type: none;
    font-size: 15pt;
    text-align: left;
    padding: 0;
    margin: 0;
}

.list-table-simple li {
    margin-bottom: 15pt;
}

.list-table-simple li:last-child {
    margin-bottom: 0pt;
}

.list-table-markered {
    list-style-type: disc;
    font-size: 15pt;
    text-align: left;
    padding-bottom: 0;
    margin: 0;
}

.list-table-markered li {
    margin: 2pt;
}

.list-table-markered li:last-child {
    margin-bottom: 0pt;
}
