body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.base-block {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/* Head block */

.data-head-block {
    margin-bottom: 10px;
    display: flex;
}

.data-info-block {
    margin-left: 30px;
    width: 60%;
}

.title-main {
    font-size: 30px;
    padding-bottom: 2px;
    border-bottom: 2px #31b19c solid;
    margin-bottom: 5px;
}

.subtitle {
    margin-bottom: 10px;
    font-size: 20px;
}

.photo {
    width: 25%;
    margin: auto;
    display: flex;
}

/* Main table block */

.table-main {
    margin: auto;
    border: none;
    border-collapse: collapse;
}

.table-main tr {
    vertical-align: top;
    border-bottom: 1px solid #31b19c;
    border-collapse: collapse;
}

.table-main tr:last-child {
    border-bottom: none;
}

.table-main td {
    padding: 15px;
    font-size: 15px;
    margin-top: auto;
}

.table-main td:first-child {
    text-align: center;
    vertical-align: top;
    font-size: 17px;
    font-weight: bold;
}

.table-main td:last-child {
    padding-left: 30px;
}

.col-title {
    width: 30%;
}

.col-info {
    width: 70%;
}

/* Lists */

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list li {
    margin-bottom: 15px;
}

.list li:last-child {
    margin-bottom: 0;
}

.list--marked {
    list-style-type: disc;
}

.list--marked li {
    margin: 2px;
}

.list--marked li:last-child {
    margin-bottom: 0px;
}

.list--remove--margin li {
    margin: 0;
}

/* Modifications */

.bold {
    font-weight: bold;
}
